.shadow {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  .close {
    display: flex;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }

  .card {
    position: relative;
    display: flex;
    height: 70%;
    width: 40%;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: transform 1s ease;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    z-index: 2;

    &.flipped {
      transform: rotateY(180deg);
    }

    .front,
    .back {
      position: absolute;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.front {
        color: #333333;
      }

      &.back {
        color: #333333;
        transform: rotateY(180deg);
      }

      .pokeIdContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 6%);
        height: 10%;
        font-size: 25px;
        color: #333333;

        .pokeId {
          display: flex;
          align-items: center;
          width: 30%;
          font-size: 30px;
          font-weight: 700;
        }

        .icon {
          display: flex;
          justify-content: space-between;

          img {
            height: 30px;
            cursor: pointer;
          }
        }
      }

      .pokename {
        display: flex;
        font-size: 40px;
        font-weight: 700;
      }

      .imgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;

        .imgBox {
          display: flex;
          margin: 10%;
          justify-content: center;
          align-items: center;
          padding: 5%;
          max-width: 300px;
          max-height: 300px;
          width: 100%;
          height: auto;

          img {
            max-width: 80%;
            max-height: 80%;
            height: auto;
            width: auto;
          }
        }
      }

      .typeContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 10%;

        .type {
          display: flex;
          align-items: center;
          font-weight: 700;
          justify-content: center;
          color: #333;
          border-radius: 12px;
          width: 20%;
          height: 100%;
          border: 1px solid #333;
        }
      }

      // backside
      .changeContainer {
        display: flex;
        justify-content: end;
        width: 100%;
        height: 10%;
        font-size: 25px;
        color: #333333;

        .icon {
          display: flex;
          align-items: center;
          padding: 0 25px 0 0;

          img {
            height: 30px;
            cursor: pointer;
          }
        }
      }
      .evolutionContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
      }

      h3 {
        margin: 0;
      }

      ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-between;

        li {
          display: flex;
          height: fit-content;
          align-items: center;
          width: 100%;

          div {
            font-weight: 700;
          }

          img {
            height: 100px;
            margin: 0 0 0 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 80% !important;
  }

  .close {
    top: 10px !important;
    right: 10px !important;
  }
}