<div class="page">
  <header>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png">
    <app-pokeball></app-pokeball>
  </header>
  <div class="container">
    <div class="pokemonContainer">
      <div
        class="pokemonBox"
        *ngFor="let pokemon of lp.pokemonData"
        (click)="sp.selectPokemon(pokemon)"
      >
        <div class="pokemonId">#{{ pokemon.id }}</div>

        <div class="pokemonName">{{ pokemon.name }}</div>
        <div class="pokemonImg">
          <img
            [src]="pokemon.sprites.other['official-artwork'].front_default"
            alt="Pokemon Image"
          />
        </div>
      </div>
    </div>
    <app-poke-card *ngIf="sp.selectedPokemon"></app-poke-card>
  </div>
  
</div>