<div class="container">
  <div class="card">
    <div class="side front">
      <div class="containerCard" [style.background]="sp.typeBackgroundColor()">
        <span class="pokeId"># {{ sp.selectedPokemon?.id }}</span>
        <img class ="pokeImg" [src]="sp.selectedPokemon?.sprites.other['official-artwork'].front_default"/>
        <span class="pokename">{{ sp.selectedPokemon?.name }}</span>
        <span class="type">
          {{ sp.selectedPokemon?.types[0]?.type.name }}
          <ng-container *ngIf="sp.selectedPokemon?.types.length > 1">
            / {{ sp.selectedPokemon?.types[1]?.type.name }}
          </ng-container>
        </span>
      </div>
    </div>
    <div class="side back">
      <div class="dataContainer">
        <span class="hp">{{ sp.selectedPokemon?.stats[0]?.base_stat }}</span>
        <span class="attack">{{ sp.selectedPokemon?.stats[1]?.base_stat }}</span>
        <span class="defense">{{ sp.selectedPokemon?.stats[2]?.base_stat }}</span>
        <span class="specialAttack">{{ sp.selectedPokemon?.stats[3]?.base_stat }}</span>
        <span class="specialDefense">{{ sp.selectedPokemon?.stats[4]?.base_stat }}</span>
        <span class="speed">{{ sp.selectedPokemon?.stats[5]?.base_stat }}</span>
      </div>
    </div>
  </div>
</div>

